@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f1f3f6;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.shadow-hover:hover{
  box-shadow: rgba(222, 0, 0, 0.25) 0px 1rem 1rem;
}
.border-color{
  border-color: #e4002b !important;
}
.shadow-nav{
  box-shadow: 0 .3rem .9rem #0000001a;
}
.justify-anchor-center{
  justify-self: anchor-center;
}
.cart-radius{
  border-radius:1.5rem 1.5rem .6rem .6rem
}